{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}


{% block layout_footer_navigation_columns %}

    {{ parent() }}

    {% if page.footer.extensions.shop_finder %}

        {% sw_include '@Storefront/storefront/layout/footer/shop-finder-footer.html.twig' with {

            'shop_finder': page.footer.extensions.shop_finder
        }

        %}

    {%  endif%}


{% endblock %}
