<div class="col-md-4 footer-column js-footer-column">
        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
             id="collapseFooterHotlineTitle"
             data-bs-target="#collapseFooterHotline"
             aria-expanded="true"
             aria-controls="collapseFooterHotline">
               {{ demo_shop_finder.title|trans|sw_sanitize }}
                <div class="footer-column-toggle">
                    <span class="footer-plus-icon">{% sw_icon 'plus' %}</span>
                    <span class="footer-minus-icon">{% sw_icon 'minus' %}</span>
                </div>
        </div>

        <div id="collapseFooterHotline"
             class="footer-column-content collapse js-footer-column-content footer-contact"
             aria-labelledby="headingOne">
            <ul>
                {% for shop in shop_finder.elements %}
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#shop-{{ shop.id }}">{{ shop.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
</div>

{% for shop in shop_finder.elements %}

        <div class="modal fade" id="shop-{{ shop.id }}" tabindex="-1" role="dialog" aria-labelledby="shop-{{ shop.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shop-{{ shop.id }}">{{ shop.name }}</h5>#
                        <button class="close"
                                type="button"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            {% sw_icon 'x' %}
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ shop.name }}</p>
                        <p>{{ shop.street }} {{ shop.city }}</p>
                         <p>{{ shop.country.name }}</p>

                        {% if shop.telephone %}
                            <p> {{ demo_shop_finder.phone |trans }}:{{ shop.telephone }}</p>
                        {% endif %}

                        {% if shop.openTimes %}
                        <p>{{ demo_shop_finder.openTimes |trans }} : {{shop.openTimes  }}
                        {% endif %}

                        {% if shop.url %}
                            <p>{{ demo_shop_finder.homepage |trans }} : {{ shop.url }}</p>
                        {% endif %}

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

